.login-page-container {
    justify-content: center;
    display: grid;
}
.login-title {
    justify-content: center;
    display: inherit;
    font-size: 20px;
}

form {
    height: 318px;
    justify-content: center;
}
.form-group {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 20px;
    display: inline-block;
    border: 1px solid #ccc;
}

button {    
    width: 100%;
    padding: 12px 20px;
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
    margin: 16px 40px;
  }

  .error-message, .help-block {
      color: red;
      font-size: 16px;
  }